{% extends "base.html" %}
{% block title %}
    <title>Об авторе проекта</title>
{% endblock %}
{% block content %}
    <div class="container py-5">
    <h1>Привет!</h1>
    <p>
Я Python-разработчик с опытом работы ~1,5 года в нескольких организациях, включая некоммерческие. Помимо этого являюсь студентом Воронежского государственного университета инженерных технологий по специальности «Информационные системы», а так же выпускник Россошанского колледжа по специальности «Информационные системы» (с красным дипломом). С раннего детства мне нравится Computer Science, именно поэтому я решил связать свою жизнь с разработкой.

Так же я постоянно изучаю материалы по актуальным технологиям в YouTube, прохожу дополнительные курсы, читаю книги по Python разработке и занимаюсь фрилансом. В данный момент я продолжаю погружаться в асинхронную разработку. Изучаю новые сервисы с которыми не успел поработать. Хочу освоить нереляционные БД, например MongoDB.

На актуальной должности в основном пишу парсеры и скрипты, которые взаимодействуют с различными бизнес API. Освоил практически весь стек аналитика данных.
    </p>
    </div>
{% endblock %}